<%- include('partials/header.ejs'); -%>
<% if(locals.error){ %>
    <div class="mb-3"><%=error%></div>
 
<% } %>
<% if(locals.books){ %>

<div class="d-flex flex-row">
    <div class="row">
    <% books.forEach((book)=>{ %>
       <div class="col-md">
        <div class="card" style="width: 18em;">
                <div class="card-body">
                    <img src="<%=book.image%>" class="card-img-top" alt="...">
                  <h5 class="card-title"><%=book.title%></h5>
                  <h4 class="text-muted">$<%=book.price%></h4>
                  <a href="/delete?user=<%=userID%>&book=<%=book.book_id%>" class="text-muted"><span class="material-symbols-outlined">
                    delete
                    </span></a>
                </div>
              </div>
       </div>
        
    </div>
<% }) %>
</div>
</div>
 
<div class="mb-3">Total: <%=total%></div>
<% } %>

<% if(locals.orders) { %>
  
<% } %>
